= form_for [@quiz, @category, @question] do |f|
  - if @question.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@question.errors.count, "error")
          prohibited this question from being saved:
      .panel-body
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label "Text", :class => 'control-label'
    = f.cktext_area :text, :class => 'form-control', :rows => 10, :autofocus => true
    / = f.text_area :text, :class => 'form-control', :rows => 10
    = error_span(@question[:text])
  .form-group
    = f.label "Lösung (optional)", :class => 'control-label'
    = f.text_area :solution, :class => 'form-control', :rows => 3
    / = f.text_area :solution, :class => 'form-control', :rows => 10
    = error_span(@question[:solution])
  .checkbox
    %label
      = f.check_box :published 
      Veröffentlicht?
    = error_span(@question[:published])
  .form-group
    = f.label "Kategorie", :class => 'control-label'
    = f.text_field :category_id, :class => 'form-control', :disabled => true
    = error_span(@question[:category_id])
  .form-group
    = f.label "Erstellt von", :class => 'control-label'
    = f.text_field :creator_id, :class => 'form-control', :disabled => true
    = error_span(@question[:creator_id])
    
  %h3 Optional gleich Fragen dazuerstellen
  / Antworten
  .row
    .col-lg-11
      = f.label "Antwort 1", :class => 'control-label'
      = text_field_tag :answer1_text, nil, :class => 'form-control'
      = error_span(@question[:answer1_text])
    .col-lg-1
      .form-group
        .checkbox
          %label
            = check_box_tag :answer1_correct 
            Korrekt?
          = error_span(@question[:answer1_correct])
  .row
    .col-lg-11
      = f.label "Antwort 2", :class => 'control-label'
      = text_field_tag :answer2_text, nil, :class => 'form-control'
      = error_span(@question[:answer1_text])
    .col-lg-1
      .form-group
        .checkbox
          %label
            = check_box_tag :answer2_correct 
            Korrekt?
          = error_span(@question[:answer2_correct])
  .row
    .col-lg-11
      = f.label "Antwort 3", :class => 'control-label'
      = text_field_tag :answer3_text, nil, :class => 'form-control'
      = error_span(@question[:answer3_text])
    .col-lg-1
      .form-group
        .checkbox
          %label
            = check_box_tag :answer3_correct 
            Korrekt?
          = error_span(@question[:answer3_correct])
  .row
    .col-lg-11
      = f.label "Antwort 4", :class => 'control-label'
      = text_field_tag :answer4_text, nil, :class => 'form-control'
      = error_span(@question[:answer4_text])
    .col-lg-1
      .form-group
        .checkbox
          %label
            = check_box_tag :answer4_correct 
            Korrekt?
          = error_span(@question[:answer4_correct])
  .row
    .col-lg-11
      = f.label "Antwort 5", :class => 'control-label'
      = text_field_tag :answer5_text, nil, :class => 'form-control'
      = error_span(@question[:answer1_text])
    .col-lg-1
      .form-group
        .checkbox
          %label
            = check_box_tag :answer5_correct 
            Korrekt?
          = error_span(@question[:answer5_correct])

    
  = f.submit nil, :class => 'btn btn-primary'
     