= form_for [@quiz, @category, @question] do |f|
  - if @question.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@question.errors.count, "error")
          prohibited this question from being saved:
      .panel-body
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :text, :class => 'control-label'
    = f.text_area :text, :class => 'form-control', :rows => 10
    = error_span(@question[:text])
  .form-group
    = f.label :category_id, :class => 'control-label'
    = f.text_field :category_id, :class => 'form-control', :disabled => true
    = error_span(@question[:category_id])
  .form-group
    = f.label :creator_id, :class => 'control-label'
    = f.text_field :creator_id, :class => 'form-control', :disabled => true
    = error_span(@question[:creator_id])
  .checkbox
    %label
      = f.check_box :published 
      Published
    = error_span(@question[:published])
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('Back', :default => t("helpers.links.cancel")), quiz_category_questions_path(@quiz, @category), :class => 'btn btn-default'                  