= form_for [@quiz, @category, @question_context, @question] do |f|
  - if @question.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@question.errors.count, "error")
          prohibited this question from being saved:
      .panel-body
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label "Text", :class => 'control-label'
    = f.cktext_area :text, :class => 'form-control', :rows => 10, :autofocus => true
    / = f.text_area :text, :class => 'form-control', :rows => 10
    = error_span(@question[:text])
  .form-group
    = f.label "Lösung (optional)", :class => 'control-label'
    = f.text_area :solution, :class => 'form-control', :rows => 3
    / = f.text_area :solution, :class => 'form-control', :rows => 10
    = error_span(@question[:solution])
  .checkbox
    %label
      = f.check_box :published 
      Veröffentlicht?
    = error_span(@question[:published])
  .form-group
    = f.label "Kategorie", :class => 'control-label'
    = f.text_field :question_context_id, :class => 'form-control', :disabled => true
    = error_span(@question[:question_context_id])
  .form-group
    = f.label "Erstellt von", :class => 'control-label'
    = f.text_field :creator_id, :class => 'form-control', :disabled => true
    = error_span(@question[:creator_id])
    
    
  %h3 Optional gleich Fragen dazuerstellen
  
  = f.fields_for :answers do |builder|
    = render "answer_fields", :f => builder
          
  
  = link_to_add_fields raw('<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> weitere Antwort hinzufügen'), f, :answers
  %br/
  %br/
  %br/
    
  
    

  = f.submit nil, :class => 'btn btn-primary'
     