= form_for [@quiz, @category, @question] do |f|
  - if @question.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@question.errors.count, "error")
          prohibited this question from being saved:
      .panel-body
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label "Text", :class => 'control-label'
    = f.cktext_area :text, :class => 'form-control', :rows => 10, :autofocus => true
    / = f.text_area :text, :class => 'form-control', :rows => 10
    = error_span(@question[:text])
  .checkbox
    %label
      = f.check_box :published 
      Veröffentlicht?
    = error_span(@question[:published])
  .form-group
    = f.label "Kategorie", :class => 'control-label'
    = f.text_field :category_id, :class => 'form-control', :disabled => true
    = error_span(@question[:category_id])
  .form-group
    = f.label "Erstellt von", :class => 'control-label'
    = f.text_field :creator_id, :class => 'form-control', :disabled => true
    = error_span(@question[:creator_id])
  = f.submit nil, :class => 'btn btn-primary'
     