- model_class = Question
.page-header
  %h1 
    Fragen
    %small=@category.name
/%a.btn.btn-default.pull-right{:href => "#{quiz_categories_path(@category.quiz)}", :role => "button"} Zurück
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Text
      %th #Antworten
      /%th= model_class.human_attribute_name(:category_id)
      %th Veröffentlicht?
      %th Erstellt am
      %th Von
      %th
  %tbody
    - @category_questions.each do |question|
      %tr
        %td= link_to question.id, question_path(question)
        %td= preview_html_field(question.text, 50)
        %td= question.answers.count
        /%td= question.category_id
        %td= render_boolean(question.published)
        %td= question.created_at_formatted
        %td= question.creator_id
        %td
          = link_to "Anzeigen", question_path(question), :class => 'btn btn-default btn-xs'
          = link_to "Editieren", edit_question_path(question), :class => 'btn btn-default btn-xs'
          = link_to "Antworten",  quiz_category_question_answers_path(@category.quiz, @category, question), :class => 'btn btn-primary btn-xs' 
          = link_to "Löschen", question_path(question), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

/= link_to "Zurück", quiz_categories_path(@category.quiz), :class => "btn btn-default"
= link_to "Neu", new_quiz_category_question_path(@category.quiz, @category), :class => 'btn btn-success'
%br
\#{link_to 'Zurück', quiz_categories_path(@category.quiz)}
