- model_class = Question
.page-header
  %h1 Frage
%dl.dl-horizontal
  %dt
    %strong
      Text :
  %dd= preview_html_field(@question.text)
  %dt
    %strong
      Kategorie :
  %dd= @question.question_context_id
  %dt
    %strong
      Erstellt von :
  %dd= @question.creator_id
  %dt
    %strong
      Veröffentlicht :
  %dd= render_boolean(@question.published)

/= link_to "Zurück", quiz_category_questions_path(@question.category.quiz, @question.category), :class => 'btn btn-default'
= link_to "Editieren", edit_question_path(@question), :class => 'btn btn-default' 
= link_to "Neu", new_quiz_category_question_context_question_path(@question.question_context.category.quiz, @question.question_context.category, @question.question_context), :class => 'btn btn-success'
= link_to "Löschen", question_path(@question), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Bist du sicher?')) }, :class => 'btn btn-danger'                                                                                   |
= link_to 'Antworten',  quiz_category_question_context_question_answers_path(@question.question_context.category.quiz, @question.question_context.category, @question.question_context, @question), :class => 'btn btn-primary btn-xs' 
= link_to "Neue Antwort", new_quiz_category_question_context_question_answer_path(@question.question_context.category.quiz, @question.question_context.category, @question.question_context, @question), :class => 'btn btn-success btn-xs'

%br/
\#{link_to 'Zurück', quiz_category_question_context_questions_path(@question.question_context.category.quiz, @question.question_context.category, @question.question_context)}  