- model_class = Quiz
.page-header
  %h1 Quizze
/%a.btn.btn-default.pull-right{:href => "#{static_pages_admin_path}", :role => "button"} Zurück
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      / %th= model_class.human_attribute_name(:description)
      %th Veröffentlicht?
      %th #Kategorien
      %th Erstellt am
      %th Von
      %th 
  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= link_to quiz.id, quiz_path(quiz)
        %td= quiz.name
        / %td= quiz.description
        %td= render_boolean(quiz.published)
        %td= quiz.categories.count
        %td= quiz.created_at_formatted
        %td= quiz.creator_id
        %td
          = link_to "Anzeigen", quiz, :class => 'btn btn-default btn-xs' 
          = link_to "Editieren", edit_quiz_path(quiz), :class => 'btn btn-default btn-xs' 
          = link_to "Kategorien", quiz_categories_path(quiz), :class => 'btn btn-primary btn-xs' 
          = link_to "Löschen",                                               
            quiz_path(quiz),                                                                                             
            :method => :delete,                                                                                          
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Quiz "'+quiz.name+'" wirklich löschen?')) }, 
            :class => 'btn btn-xs btn-danger' 

          
/= link_to "Zurück", static_pages_admin_path, :class => "btn btn-default"                                                                                
= link_to "Neu", new_quiz_path, :class => 'btn btn-success'
%br
\#{link_to 'Zurück', static_pages_admin_path}           

.row
  .col-lg-10
    = paginate @quizzes         