- model_class = Quiz
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%a.btn.btn-default.pull-right{:href => "#{static_pages_admin_path}", :role => "button"} Zurück
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      / %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:creator_id)
      %th= model_class.human_attribute_name(:published)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= link_to quiz.id, quiz_path(quiz)
        %td= quiz.name
        / %td= quiz.description
        %td
          = quiz.creator_id
          - if current_user.try(:admin?) and quiz.creator_id.present?
            = link_to 'Edit', users_edit_admin_path(:id => quiz.creator_id), :class => 'btn btn-xs btn-default' 
        %td= quiz.published
        %td= quiz.created_at_formatted
        %td
          = link_to 'Show', quiz, :class => 'btn btn-default btn-xs' 
          
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_quiz_path(quiz), :class => 'btn btn-default btn-xs' 
          
          = link_to 'Categories', quiz_categories_path(quiz), :class => 'btn btn-primary btn-xs' 
          
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               
            quiz_path(quiz),                                                                                             
            :method => :delete,                                                                                          
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
            :class => 'btn btn-xs btn-danger' 

          
                                                                                       
= link_to t('.new', :default => t("helpers.links.new")), 
  new_quiz_path,                                         
  :class => 'btn btn-success'                            