.page-header
  %h1
    Impressum
    / <small>Subtext for header</small>
.row
  /.col-lg-2
  /  %a.thumbnail.category{:href => "#"}
  /    = image_tag("placeholder_icon.png", alt: "Impressum icon")
  /    %p.text-center
  .col-lg-12
    %h2 Kontaktdaten
    %br/
    %address
      %strong=t 'medAT.address.owner'
      %br/
      =t 'medAT.address.street'
      %br/
      #{t 'medAT.address.zip'} #{t 'medAT.address.city'}
      %br/
      =t 'medAT.address.country'
      %br/
    %address
      /%abbr{:title => "Phone"} Tel.
      /=t 'medAT.address.phone'
      /%br/
      %abbr{:title => "E-mail"} E-mail
      %a{:href => "mailto:#"}=t 'medAT.address.email'
      %br/
    %p 
      Für die Richtigkeit und Vollständigkeit der gebotenen Informationen wird keine Gewähr übernommen. Den via Internet bereitgestellten Informationen kommt keine Rechtsverbindlichkeit zu. Verschiedene Elemente auf unserer Seite sind urheberrechtlich oder durch andere gesetzliche Regelungen geschützt. Wir weisen darauf hin, dass es ohne unsere ausdrückliche Zustimmung nicht gestattet ist, unser Angebot im ganzen oder irgendeines seiner rechtlich geschützten Elemente zu kopieren oder sonst wie zu erwerten. Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

    %p
      Impressum mit Information gemäß §5 E-Commerce-Gesetz und Offenlegung gemäß §25 Mediengesetz.

    %h1 AGB, Rücktrittsrecht & Datenschutz

    
    %h3 1. GELTUNGSBEREICH
    
    %p
      Für die Geschäftsbeziehungen zwischen aufnahmetest.at und dem Nutzer gelten ausschließlich die nachfolgenden Allgemeinen Geschäftsbedingungen in ihrer zum Zeitpunkt der Bestellung gültigen Fassung. Der Nutzer kann diese AGB unter der Webadresse www.aufnahmetest.at jederzeit aufrufen und mit Hilfe Ihres Internetbrowsers ausdrucken oder auf Ihrem Rechner speichern.

    %p
      Hievon abweichende Bedingungen eines Vertragspartners gelten nur bei eigener schriftlicher Vereinbarung. Die AGBs bleiben auch bei Unwirksamkeit einzelner Bestimmungen im Übrigen gültig.


    %h3 2. VERTRAGSPARTNER
    
    %p
      Der Kaufvertrag kommt zustande mit: 
      %br/
    %address
      =t 'medAt.address.company'
      %br/
      =t 'medAT.address.owner'
      %br/
      =t 'medAT.address.street'
      %br/
      #{t 'medAT.address.zip'} #{t 'medAT.address.city'}
      %br/
      =t 'medAT.address.country'
      %br/
    %address


    %h3 3. ANGEBOT UND VERTRAGSSCHLUSS
    
    %p 
      3.1. Alle Angaben auf der Homepage, Prospekten, Email Newslettern, Anzeigen, Preislisten etc. sind unverbindlich.
    %p
      3.2. Die Darstellung des Dienstleistungsproduktes stellt kein rechtlich bindendes Angebot, sondern eine Aufforderung zum Vertragsabschluss dar. Irrtümer vorbehalten.
    %p
      3.3. Durch Anklicken des Buttons “registrieren” im letzten Schritt des Bestellprozesses, erklärt der Nutzer aufnahmetest.at gegenüber verbindlich, die AGB als Vertragsbestandteil zu akzeptieren und der Nutzer gibt eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab.


    %h3 4. WIDERRUFSRECHT (RÜCKTRITTSRECHT)
    
    %p
      Gemäß § 18 Abs 1 Fernabsatzgesetz (FAGG) hat der Nutzer von aufnahmetest.at kein Rücktrittsrecht von der Nutzung der Dienstleistung von aufnahmetest.at, weil noch vor Ablauf der Rücktrittsfrist von 14 Tagen nach § 11 FAGG mit der Ausführung der Dienstleistung begonnen wurde und die Dienstleistung sodann vollständig erbracht wurde. Vom ersten Tag an können alle Dienstleistungen von aufnahmetest.at benutzt werden.
    %p
      Jedoch gibt 
      =t 'medAT.address.owner'
      den Nutzern die Möglichkeit innerhalb von 1 Tag (24 h) ab Registrierung vom Vertrag zurückzutreten.
    %p.bold
      Widerrufsbelehrung
      %br/
      Widerrufsrecht
    %p
      Der Nutzer hat das Recht, binnen einem Tag ohne Angabe von Gründen diesen Vertrag zu widerrufen.
    %p
      Um das Rücktrittsrecht auszuüben, muss der Nutzer mittels einer eindeutigen Erklärung (z.B. ein mit der Post übersandter Brief oder E-Mail) über den Entschluss, diesen Vertrag zu widerrufen, informieren.
    %p.bold
      An:
    %address
      =t 'medAt.address.company'
      %br/
      =t 'medAT.address.owner'
      %br/
      =t 'medAT.address.street'
      %br/
      #{t 'medAT.address.zip'} #{t 'medAT.address.city'}
      %br/
      =t 'medAT.address.country'
      %br/
      E-Mail:
      =t 'medAT.address.email'
      %br/
    %address
      Zur Wahrung der Widerrufsfrist reicht es aus, dass der Nutzer die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absendet.
    %p.underline
      Folgen des Widerrufs
    %p
      Wenn der Nutzer diesen Vertrag widerruft, hat aufnahmetest.at dem Nutzer alle Zahlungen unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über den Widerruf dieses Vertrages bei 
      =t 'medAT.address.owner'
      eingegangen ist. Für diese Rückzahlung wird dasselbe Zahlungsmittel wie bei der ursprünglichen Transaktion verwendet. 
    %p
      Bereits Heruntergeladene Skripten sind umgehend vom Nutzer zu löschen und ausgedruckte Versionen zu vernichten. Bei widerrechtlicher Verwendung der Skripten wird aufnahmetest.at die unbefugten Nutzer gerichtlich verfolgen.
    %p.bold
      Muster-Widerrufsformular
    %p.underline
      An:
    %address
      =t 'medAT.address.owner'
      %br/
      =t 'medAT.address.street'
      %br/
      #{t 'medAT.address.zip'} #{t 'medAT.address.city'}
      %br/
    %address
    %p
      Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag 
    %p
      am:
    %p
      Name des/der Verbraucher(s):
    %p
      Anschrift des/der Verbraucher(s):
    %p
      Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier):


    %h3 5. ZAHLUNG UND PREISE

    %p
      5.1 Die Zahlung erfolgt wahlweise per Vorkasse oder Kreditkarte.
    %p
      5.2 Bei Auswahl der Zahlungsart Vorkasse gibt aufnahmetest.at dem Nutzer die Bankverbindung und den Verwendungszweck in der Auftragsbestätigung und schaltet den Nutzer nach Zahlungseingang frei.
    %p
      5.3 Ein Recht zur Aufrechnung steht dem Nutzer nur dann zu, wenn die Gegenansprüche rechtskräftig gerichtlich festgestellt oder unbestritten sind oder schriftlich durch aufnahmetest.at anerkannt wurden.
    %p
      5.4. Alle Preise sind brutto und beinhalten die gesetzliche Mehrwertsteuer, sämtliche Gebühren und Abgaben.


    %h3 6. GEWÄHRLEISTUNG

    %p
      6.1. Die Gewährleistung richtet sich nach den gesetzlichen Vorschriften.
    %p
      6.2. Für die Vollständigkeit, Richtigkeit und Aktualität der Fragen und Antworten in den Tests leistet 
      =t 'medAT.address.owner'
      kein Gewähr. Es besteht keine Verpflichtung für 
      =t 'medAT.address.owner'
      , übermittelte oder gespeicherte fremde Informationen zu überwachen und auf Rechtswidrigkeit zu überprüfen.


    %h3 7. HAFTUNGSAUSSCHLUSS

    %p
      7.1. Die gesamten Inhalte sind mit Sorgfalt und nach bestem Wissen und Gewissen erstellt worden. Von Seiten des Anbieters wird keine Haftung für die Vollständigkeit des angebotenen Inhalts übernommen und ausdrücklich nicht ein bestimmter Lern- bzw. Prüfungserfolg garantiert.
    %p
      7.2. Die Haftung von aufnahmetest.at für Schäden durch vorsätzliches oder grob fahrlässiges Verhalten von aufnahmetest.at, für Personenschäden und Schäden nach dem Produkthaftungsgesetz ist nach Maßgabe der gesetzlichen Bestimmungen. Dies gilt auch für Schäden die durch Erfüllungsgehilfen der aufnahmetest.at verursacht werden. Ebenso der Ersatz von Folge- und Vermögensschäden, Zinsverlusten sowie von Schäden aus Ansprüchen Dritter gegenüber dem Vertragspartner.
    %p
      7.3. Für leicht fahrlässig verursachte Schäden haftet aufnahmetest.at nur, soweit diese auf der Verletzung vertragswesentlicher Pflichten beruhen. Dies sind solche Vertragspflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner vertrauen durfte. Die Haftung der aufnahmetest.at für einfache Fahrlässigkeit nach dieser Regelung ist auf den typischerweise vorhersehbaren Schaden begrenzt. Bei Ausschluss oder Beschränkung der Haftung gilt dies auch für die persönliche Haftung der Angestellten, Arbeitnehmer, Mitarbeiter, Vertreter und Erfüllungsgehilfen.
    %p
      7.4. Es besteht keinerlei Haftung für die Vollständigkeit, Richtigkeit und Verständlichkeit der angebotenen Lerninhalte oder für einen bestimmten Lern- oder Prüfungserfolg.


    %h3 8. ANWENDBARES RECHT / GERICHTSSTAND / VETRAGSSPRACHE

    %p
      8.1. Diese AGB und auf ihrer Grundlage zwischen dem Nutzer und aufnahmetest.at geschlossene Verträge unterliegen dem Recht der Republik Österreich unter Ausschluss des UN-Kaufrechts. Unberührt bleiben zwingende Bestimmungen der Rechtsordnung des Staates, in dem der Nutzer seinen gewöhnlichen Aufenthalt haben.
    %p
      8.2. Der Gerichtsstand für sämtliche Verträge, die unter Einbeziehung dieser AGB geschlossen werden, das sachlich zuständige Gericht Innsbruck.
    %p
      8.3. Die Vertragssprache ist deutsch.


    %h3 9. Datenverarbeitung & DATENSCHUTZ

    %p
      9.1. Im Zuge der EDV werden alle für die Geschäftsbeziehungen relevanten Daten der Vertragspartner unter Bedachtnahme auf das Datenschutzgesetz gespeichertaufnahmetest.at ist zur Speicherung und Verarbeitung berechtigt.
    %p
      9.2. aufnahmetest.at speichert nur Zugriffsdaten ohne Personenbezug wie Namen des Internet Service Providers, die Seite, von der aus der Nutzer aufnahmetest.at besucht oder den Namen der angeforderten Datei. Diese Daten werden ausschließlich zur Verbesserung der homepage erhoben und erlauben keinen Rückschluss auf die jeweilige Person.
    %p
      9.3. Bei Anmeldung zum Newsletter von aufnahmetest.at wird die angegebene E-Mail-Adresse mit der Einwilligung für eigene Werbezwecke genutzt, bis der Nutzer sich vom Newsletter abmeldet. Die Abmeldung ist jederzeit möglich.
    %p
      9.4. Der Nutzer hat jederzeit das Recht auf unentgeltliche Auskunft über die gespeicherten Daten des Nutzers sowie ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
    %p
      9.5. Jede Einwilligung im Laufe der Registrierung kann jederzeit mit Wirkung für die Zukunft widerrufen können.
    %p
      9.6. Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (“Google”) Google Analytics verwendet sog. “Cookies”, Textdateien, die auf dem Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website durch die Nutzer ermöglicht. Die durch den Cookie erzeugten Informationen über die Benutzung von aufnahmetest.at (einschließlich der IP-Adresse) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um die Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für aufnahmetest.at zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall die IP-Adresse mit anderen Daten der Google in Verbindung bringen. Die Nutzer können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern. Durch die Nutzung dieser Website erklären sich die Nutzer mit der Bearbeitung der über die erhobenen Daten der Nutzer durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. Deaktivierung: 
      %a{:href => 'tools.google.com/dlpage/gaoptout?hl=de', :title => 'tools.google.com/dlpage/gaoptout?hl=de'}tools.google.com/dlpage/gaoptout?hl=de
      \.
    %p
      9.7. Die Schaltfläche “Gefällt mir” des sozialen Netzwerks Facebook (
      %a{:href => 'www.facebook.com', :title => 'www.facebook.com'}www.facebook.com
      ) hat ihren Sitz in den USA. Die Schaltfläche beinhaltet ein sog. Plug-in. Bei der Nutzung dieses Buttons bei aufnahmetest.at erfolgt ein automatisierter Hinweis an Facebook, dass ein Nutzer aufnahmetest.at und die zugehörige Facebook Fanseite aufnahmetest.at besucht hat. Besitzt man ein persönliches Nutzerkonto bei Facebook und ist man beim Besuch von aufnahmetest.at mit “Gefällt mit” – Schaltfläche in dem eigenen Konto eingeloggt, kann Facebook den Websitebesuch diesem Konto auch zuordnen. Klickt man die Schaltfläche “Gefällt mir” an oder gibt man darüber einen Kommentar ab, werden diese Informationen direkt an Facebook in die USA übermittelt und dort gespeichert. Eine solche Datenübermittlung kann man verhindern, indem man sich vor dem Besuch von aufnahmetest.at bei Facebook ausloggt. Datenschutzhinweise von Facebook: (
      %a{:href => 'de-de.facebook.com/privacy/explanation.php', :title => 'de-de.facebook.com/privacy/explanation.php'}de-de.facebook.com/privacy/explanation.php
      ).
    
    
    %h3 10. DAUER DER NUTZUNG
    
    %p
      10.1. Die Nutzung der Dienstleistung von aufnahmetest.at gelten jeweils von der Registrierung bis zum Tag des Medizin-Aufnahmetests in Österreich im jeweiligen Kalenderjahr. Es ist sohin maximal möglich den account für 365 Tage zu nutzen. Anschließend wird das account automatisch gelöscht.
    %p
      10.2. Die Weitergabe der Nutzerdaten, insbesondere die zur Nutzung des accounts erforderlichen Informationen wie Benutzername und zugehöriges Passwort, sind untersagt. Es ist jedoch möglich das account auf mehreren Geräten wie PC, Laptop, Tablet und Handy, dafür je nur einmal von einer einzelnen und immer derselben Person zu verwenden.
    %p
      11. Sonstige Bestimmungen

    %p
      Sollten Bestimmungen der getroffenen Vereinbarung nicht rechtswirksam sein oder werden oder eine Regelungslücke vorliegen, so bleiben die übrigen Bestimmungen in Geltung. Anstelle der unwirksamen Bestimmung oder zur Ausfüllung der Lücke gilt eine angemessene Regelung als vereinbart, die dem hypothetischen Willen der Vertragsparteien am nächsten kommt oder nach dem Sinn und Zweck der getroffenen Vereinbarung vereinbart worden wäre, wenn der Punkt bedacht worden wäre.
    %p
      =t 'medAT.address.owner'
      kann seine Rechte und Pflichten jederzeit ganz oder teilweise auf Dritte übertragen; eine Übertragung durch den Vertragspartner ist nur mit Zustimmung von 
      =t 'medAT.address.owner'
      zulässig.



    .hspacer-4x
    