.page-header
  %h1
    Verwaltung

.row
  .col-lg-12
    %ul.nav.nav-pills.nav-stacked
      %li{:role => "presentation"}
        %a{:href => "#{quizzes_path}"} Quiz
      -if current_user.try(:admin?)
        %li{:role => "presentation"}
          %a{:href => "#{faqs_path}"} FAQ
        %li{:role => "presentation"}
          %a{:href => "#{novelties_path}"} Neuigkeiten
        %li{:role => "presentation"}
          %a{:href => "#{blog_entries_path}"} Blog Einträge
        %li{:role => "presentation"}
          %a{:href => "#{users_index_path}"} Benutzer
        %li{:href => ""} 
          %a{:href => "#{rails_settings_ui_path}"} Einstellungen

    / %a.btn.btn-default.btn-lg.btn-block{:href => "#{quizzes_path}", :type => "button"} Quiz
    / %a.btn.btn-default.btn-lg.btn-block{:href => "#{faqs_path}", :type => "button"} FAQ
    / %a.btn.btn-default.btn-lg.btn-block{:href => "#{novelties_path}", :type => "button"} Neuigkeiten
    / %a.btn.btn-default.btn-lg.btn-block{:href => "#{users_index_path}", :type => "button"} Benutzer