%script{:src => "https://maps.googleapis.com/maps/api/js"}
:javascript
  function initialize() {
    var positionLatLng = new google.maps.LatLng(#{t 'clever.address.lat'}, #{t 'clever.address.lng'});

    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: positionLatLng, //44.5403, -78.5463 
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)

    var marker = new google.maps.Marker({
        position: positionLatLng,
        map: map,
        title: '#{t 'clever.address.owner'}'
    });

  }
  google.maps.event.addDomListener(window, 'load', initialize);



.page-header
  %h1
    Kontakt
    / <small>Subtext for header</small>
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("placeholder_icon.png", alt: "Kontakt icon")
      %p.text-center
  .col-lg-10
    %address
      %strong=t 'clever.address.owner'
      %br/
      =t 'clever.address.street'
      %br/
      #{t 'clever.address.zip'} #{t 'clever.address.city'}
      %br/
      =t 'clever.address.country'
      %br/
    %address
      %abbr{:title => "Phone"} Tel.
      =t 'clever.address.phone'
      %br/
      %abbr{:title => "Phone"} E-mail
      %a{:href => "mailto:#"}=t 'clever.address.email'
      %br/
     
.row
  .col-lg-2
    / <a href="#" class="thumbnail category"><img src="res/img/location.png" alt="..."><p class="text-center"></p></a>
  .col-lg-10
    #map-canvas.thumbnail{:style => "height: 40em"}