:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '816766665050404',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
   
  $('.carousel').carousel({
    interval: 100000
  })

#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      = image_tag("home/carousel/carousel1.jpg", alt: "First slide")
      /.container
      /  .carousel-caption
      /    %h1.super MedAT - aufnahmetest.at
      /    %h3 Dein Einstieg zur Medizinkarriere!
      /    /%p
      /    /%p
      /    /  %a.btn.btn-lg.btn-primary.multi-line-button{:href => "#{new_user_registration_path}", :role => "button"} Starte gleich los und registriere dich
    .item
      = image_tag("home/carousel/carousel2.jpg", alt: "Second slide")
      /.container
      /  .carousel-caption
      /    %h1.super Teste dich
      /    %h3 Es motiviert!
    .item
      = image_tag("home/carousel/carousel3.jpg", alt: "Third slide")
      /.container
      /  .carousel-caption
      /    %h3 Gemeinsam für den MedAt lernen und
      /    %h1.super bestehen!
    /.item
    /  = image_tag("carousel/c4.png", alt: "First slide")

  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next

.hspacer

.container
.marketing-area
  .row
    .col-xs-4
      .box
        %h3 Kostenlos testen
    .col-xs-4
      .box
        %h3 Test starten
    .col-xs-4
      .box
        %h3 Tipps / Blog / FAQ
  .row
    .col-xs-4
      .box
        = image_tag("home/Play.png", alt: "Gratis testen icon", class: "img-circle glow-button")
    .col-xs-4
      .box
        = image_tag("home/daumen.png", alt: "Test starten icon", class: "img-circle glow-button")
    .col-xs-4
      .box
        = image_tag("home/FAQ.png", alt: "Häufige Fragen icon", class: "img-circle glow-button")


/.marketing-area
/  .row
/    .col-xs-4
/      .box
/        %h3 Kostenlos testen
/        = image_tag("home/Play.png", alt: "Gratis testen icon", class: "img-circle glow-button")
/        /%a.glow{:href => "#{static_pages_quiz_path}"} 
/        /  = image_tag("home/Play.png", alt: "Gratis testen icon", class: "img-circle glow-button")
/    .col-xs-4
/      .box
/        %h3 Test starten
/        = image_tag("home/daumen.png", alt: "Test starten icon", class: "img-circle glow-button")
/        /%a.glow{:href => "#{static_pages_quiz_path}"} 
/        /  = image_tag("home/daumen.png", alt: "Test starten icon", class: "img-circle glow-button")
/    .col-xs-4
/      .box
/        %h3 Tipps / Blog / FAQ
/        = image_tag("home/FAQ.png", alt: "Häufige Fragen icon", class: "img-circle glow-button")
/        /Fragen / Antworten
/        /%a.glow{:href => "#{static_pages_faq_path}"}
/        /  = image_tag("home/FAQ.png", alt: "Häufige Fragen icon", class: "img-circle glow-button")


/  /.fb-like{"data-share" => "true", "data-width" => "450", "data-show-faces" => "true"}
/  /= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

/<span class="visible-xs">SIZE XS smaller 750px</span><span class="visible-sm">SIZE SM 750px</span><span class="visible-md">SIZE MD 970px</span><span class="visible-lg">SIZE LG 1170px</span> 

.hspacer-4x

.row
  .col-sm-12
    .text-center
      %p.bold Besuche uns auch hier!
      %p{:style => "font-size: 3em;"}
        = link_to "https://www.facebook.com/aufnahmetest/", :onclick => "", :class=> "share-btn facebook-btn" do
          %i.fa.fa-facebook-square
        = link_to "https://twitter.com/aufnahmetest", :onclick => "", :class=> "share-btn twitter-btn" do
          %i.fa.fa-twitter-square
        = link_to "https://plus.google.com/u/0/107928789185849411036/posts", :onclick => "", :class=> "share-btn gplus-btn" do
          %i.fa.fa-google-plus-square
        = link_to "https://instagram.com/aufnahmetest.at/", :onclick => "", :class=> "share-btn instagram-btn" do
          %i.fa.fa-instagram
        = link_to "https://www.linkedin.com/profile/view?id=AAIAABrOg0sBnTOliC2-6yi-4ZH09Y33kFbfRwY&trk=nav_responsive_tab_profile", :onclick => "", :class=> "share-btn linkedin-btn" do      
          %i.fa.fa-linkedin-square

.row
  .col-sm-12
    /= render "shared/a2a_share_button"
    /= render "shared/shareaholic_share_button"

.hspacer-4x

.row
  .col-sm-4
    %ul.list-group.feat
      %li.list-group-item.feat.caption Die Online Vorbereitung zum besten Preis!
      %li.list-group-item.feat Jetzt nur EUR 49,90!
      %li.list-group-item.feat Vorher kostenlos testen und überzeugen!
      %li.list-group-item.feat Unkomplizierte und schnelle Anmeldung!
  .col-sm-4
    %ul.list-group
      %li.list-group-item.feat.caption Weit über 1000 Fragen von Spezialisten entwickelt!
      %li.list-group-item.feat Unterschiedliche Schwierigkeiten
      %li.list-group-item.feat Ständig neue Fragen
      %li.list-group-item.feat Immer wieder neue Tests per Zufallsgenerator
  .col-sm-4
    %ul.list-group
      %li.list-group-item.feat.caption Weitere Vorteile
      %li.list-group-item.feat Einfacher Aufbau
      %li.list-group-item.feat Abdeckung der Themengebiete
      %li.list-group-item.feat Aufzeichnung der Ergebnisse / Statistik
      %li.list-group-item.feat Zusätzlich Skripten zum Wissensteil
      %li.list-group-item.feat Live Vorbereitungskurse

.hspacer-4x
/ Video ausblenden
/.row
/  .col-sm-12
/    .div.text-center{:style => "background-color: #F0F0F0; padding-top: 1em; padding-bottom: 4em;"}
/      %h3.bold Videoüberschrift
/      %p
/        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400em", :src => "https://www.youtube.com/embed/DA_Bn2Zyv1Q", :width => "100%"}
/  /.col-sm-12.hidden-xs.hidden-sm .hidden-md.hidden-lg
/  /  %p.text-center{:style => "background-color: #F0F0F0; padding-top: 2em; padding-bottom: 2em;"}
/  /    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "350em", :src => "https://www.youtube.com/embed/xWmB9lDE7_w", :width => "100%"}

.row
  .col-sm-12
    %ul.list-group
      %li.list-group-item.feat.divider Empfehlungen


/%hr.featurette-divider/
.hspacer-4x

.marketing-area.testimonials.right
  .featurette-bg1
    .row.featurette
      .col-xs-8
        %h2.featurette-heading.quote-left
          &#8220;Das Material ist perfekt vorsortiert und 
          %span.text-muted bereitet optimal auf den MedAT vor!&#8221;<br/>
          %span.autor Dr. Stefan Ulmer – Praktischer Arzt
        /%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-xs-4
        %img.featurette-image.img-responsive.thumbnail.no-bottom-margin.pull-right{:alt => "Generic placeholder image", :src => "#{image_path('home/p2_dr_stefan_ulmer.jpg')}"}

/%hr.featurette-divider/
.hspacer-4x

.marketing-area.testimonials.left
  .featurette-bg2
    .row.featurette
      .col-xs-4
        %img.featurette-image.img-responsive.thumbnail.no-bottom-margin{:alt => "Generic placeholder image", :src => "#{image_path('home/p1_brigitte_sipos.jpg')}"}/
      .col-xs-8
        %h2.featurette-heading.quote-right
          &#8220;Ich habe sogar am Smartphone bei aufnahmetest.at geübt – 
          %span.text-muted BESTANDEN!!!&#8221;<br/>
          %span.autor Brigitte Sipos – Studentin an der Medizinischen Universität Innsbruck
    /%hr.featurette-divider/


.hspacer-4x

/.marketing-area{:style => "background-color: #F2F2F2"}
/.row
/  %p.text-right
/    = image_tag("home/siegel.png", alt: "Qualitätssiegel", style: "height: 15em")
   
/%hr.featurette-divider/

.row
  .col-sm-12
    %ul.list-group
      %li.list-group-item.feat.divider Neuigkeiten

/.row
/  .col-sm-12
/    %table.page-slicer-caption
/      %td
/        <hr class="bolder">
/      %td.caption Neuigkeiten
/      %td
/        <hr>
        
.hspacer-4x

/%hr.featurette-divider/
/.row.featurette
/  .col-md-12
/    %h1.the-news Neuigkeiten
/    %br/
/    %br/
/    - @novelties.first(3).each do |novelty|
/      = render "shared/news", title: novelty.title, body: novelty.text, created_at: novelty.created_at

/.row
/  .col-md-12
/    %h3.featurette-heading.text-center
/      Neues
/    %br/
/    %br/
    
/.hspacer


.news-section
  .row
    - @novelties.first(3).each do |novelty|
      = render "shared/news", title: novelty.title, body: novelty.text, created_at: novelty.created_at
  .row
    .col-md-4
    .col-md-4
      %p.text-center
        %a{:href => "#{static_pages_news_path}"} Ältere Neuigkeiten ...
    .col-md-4
    
.hspacer-4x

.row
  .col-xs-2
  .col-xs-8
    %p.text-center
      = image_tag("home/siegel.png", alt: "Qualitätssiegel", class: "quality-seal-img ")
  .col-xs-2
  
/%hr.featurette-divider/
.hspacer

.countdown-section
  .row
    .col-md-12
      .jumbotron.countdown{"data-no-turbolink" => true}
        %h3 Der nächste Aufnahmetest beginnt in:
        #getting-started
          :javascript
            $("#getting-started").countdown("#{@next_med_exam_date}", function(event) {
              $(this).text(
                event.strftime('%m Monate %D Tagen %H Stunden')
              );
            });
            

.hspacer-4x
        
.row
  .col-sm-12
    = render "shared/shareaholic_share_button"
 
