:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '816766665050404',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
   
  $('.carousel').carousel({
    interval: 100000
  })

#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      = image_tag("home/carousel/f1.jpg", alt: "First slide")
      .container
        .carousel-caption
          %h1.super MedAT - aufnahmetest.at
          %h1 Dein Einstieg zur Medizinkarriere!
          /%p
          /%p
          /  %a.btn.btn-lg.btn-primary.multi-line-button{:href => "#{new_user_registration_path}", :role => "button"} Starte gleich los und registriere dich
    .item
      = image_tag("home/carousel/f3.jpg", alt: "Second slide")
      .container
        .carousel-caption
          %h1.super Teste dich
          %h1 Es motiviert!
    .item
      = image_tag("home/carousel/f2.jpg", alt: "Third slide")
    /.item
    /  = image_tag("carousel/c4.png", alt: "First slide")

  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
        


/.container
.marketing-area
  .row
    .col-md-4
      .box
        %h2 Kostenlos testen
        %a.glow{:href => "#{static_pages_quiz_path}"} 
          = image_tag("home/Play.png", alt: "Gratis testen icon", style: "width: 140px; height: 140px;", class: "img-circle")

    .col-md-4
      .box
        %h2 Test starten
        %a.glow{:href => "#{static_pages_quiz_path}"} 
          /static_pages_news_path
          = image_tag("home/daumen.png", alt: "Test starten icon", style: "width: 140px; height: 140px;", class: "img-circle")
    .col-md-4
      .box
        %h2 Fragen/Antworten
        %a.glow{:href => "#{static_pages_faq_path}"}
          = image_tag("home/FAQ.png", alt: "Häufige Fragen icon", style: "width: 140px; height: 140px;", class: "img-circle")
  

  /.fb-like{"data-share" => "true", "data-width" => "450", "data-show-faces" => "true"}
  /= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
  
%hr.featurette-divider/
.row.featurette
  .col-md-7
    %h2.featurette-heading
      Hab mich damit auf die Aufnahmeprüfung vorbereitet,
      %span.text-muted es motiviert!
    /%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  .col-md-5
    %img.featurette-image.img-responsive.thumbnail{:alt => "Generic placeholder image", :src => "#{image_path('placeholder_person.png')}"}
%hr.featurette-divider/
.row.featurette
  .col-md-5
    %img.featurette-image.img-responsive.thumbnail{:alt => "Generic placeholder image", :src => "#{image_path('placeholder_person.png')}"}/
  .col-md-7
    %h2.featurette-heading
      Die Tests helfen wirklich weiter,
      %span.text-muted da das Material gut vorsortiert wurde
    /%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
%hr.featurette-divider/
.row.featurette
  .col-md-7
    %h2.featurette-heading
      Hab sogar am Smartphone gequizt,
      %span.text-muted endlich bestanden!
    /%p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  .col-md-5
    %img.featurette-image.img-responsive.thumbnail{:alt => "Generic placeholder image", :src => "#{image_path('placeholder_person.png')}"}/
    %p
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
/%hr.featurette-divider/
/.row.featurette
/  .col-md-12
/    %h1.the-news Neuigkeiten
/    %br/
/    %br/
/    - @novelties.first(3).each do |novelty|
/      = render "shared/news", title: novelty.title, body: novelty.text, created_at: novelty.created_at

/.row
/  .col-md-12
/    %h3.featurette-heading.text-center
/      Neues
/    %br/
/    %br/
    
.marketing-area
  .row
    - @novelties.first(3).each do |novelty|
      = render "shared/news", title: novelty.title, body: novelty.text, created_at: novelty.created_at
.row
  .col-md-4
  .col-md-4
    %p.text-center
      %a{:href => "#{static_pages_news_path}"} Ältere Neuigkeiten ...
  .col-md-4
    
/%hr.featurette-divider/
%br/
%br/
  
.row
  .col-md-12
    .jumbotron.countdown{"data-no-turbolink" => true}
      %h3 Der nächste Aufnahmetest beginnt in:
      #getting-started
        :javascript
          $("#getting-started").countdown("#{@next_med_exam_date}", function(event) {
            $(this).text(
              event.strftime('%D Tagen %H:%M:%S')
            );
          });
