.page-header
  %h1
    Registration
    / <small>Subtext for header</small>
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("creditcard.png", alt: "Payment icon")
      %p.text-center
    %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Später
  .col-lg-10
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Schritt 2/2: Account freischalten
      .panel-body
        %p
          Gib deine Kreditkarteninformationen ein und bezahlte 29,90€ für die Freischaltung deines Accounts.
          %br>/
          Damit erhälst du für 1 Jahr vollen Zugriff auf unser gesamtes Fortbildungsangebot!
        %p.form-control-static.account-status.inactive
          %span.label.label-warning Preis: 29,90€ für 1 Jahr
        %br/
        %br/
        = form_tag static_pages_pay_path do
          .form-group
            %label.control-label Kreditkartennummer
            = text_field_tag :creditcard_number, nil, :class => 'form-control', :placeholder => "Kreditkartennummer eingeben"
          .form-group
            %label.control-label Verfallsdatum
            = text_field_tag :creditcard_expiration_date, nil, :class => 'form-control', :placeholder => "Verfallsdatum Eingeben z.B. '01/2019'"
          .form-group
            %label.control-label Dreistellige Prüfnummer
            = text_field_tag :creditcard_cnc, nil, :class => 'form-control', :placeholder => "Dreistellige Prüfnummer eingeben (Rückseite der Karte)"
          = submit_tag "Bezahlen und Registration abschließen", :class => 'btn btn-success pull-right'
        %br/





