
= javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"




.page-header
  %h1
    Registration
    / <small>Subtext for header</small>
.row
  /.col-lg-2
  /  %a.thumbnail.category{:href => "#"}
  /    = image_tag("placeholder_icon.png", alt: "Payment icon")
  /    %p.text-center
  /  %a.btn.btn-default.pull-right{:href => "#{static_pages_home_path}", :role => "button"} Später
  .col-lg-12
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Schritt 2/2: Account freischalten
      .panel-body
        %p
          Gib deine Kreditkarteninformationen ein und bezahlte #{membership_price_euro} für die Freischaltung deines Accounts. 
          %br
          Damit erhälst du bis zum #{formatted_date(@membership_season_end_date)} vollen Zugriff auf unser gesamtes Fortbildungsangebot!
          %br
          Neben Kreditkarten ist auch die Zahlung per PayPal möglich, drücke dafür auf die untenstehende, blaue PayPal Schaltfläche.
          
        %p.form-control-static.account-status.inactive
          %span.label.label-warning{:style => "white-space: normal !important;"} Preis: #{membership_price_euro} für die aktuelle Lernsaison (Endet am: #{formatted_date(@membership_season_end_date)})
        %br/
        %h3 Bezahlen 
        %hr
        %br/        
 
        = form_tag static_pages_pay_path, id: "checkout" do
          #dropin  
          %br/
          = submit_tag "#{membership_price_euro} bezahlen und Registration abschließen", :class => 'btn btn-success pull-right'
          /%a.btn.btn-default.pull-right.btn.space-right{:href => "#{static_pages_home_path}", :role => "button"} Später
          
        %br/
        %br/
        
        /= form_tag static_pages_pay_path do
        /  .form-group
        /    %label.control-label Kreditkartennummer
        /    = text_field_tag :creditcard_number, nil, :class => 'form-control', :placeholder => "Kreditkartennummer eingeben"
        /  .form-group
        /    %label.control-label Verfallsdatum
        /    = text_field_tag :creditcard_expiration_date, nil, :class => 'form-control', :placeholder => "Verfallsdatum Eingeben z.B. '01/2019'"
        /  .form-group
        /    %label.control-label Dreistellige Prüfnummer
        /    = text_field_tag :creditcard_cnc, nil, :class => 'form-control', :placeholder => "Dreistellige Prüfnummer eingeben (Rückseite der Karte)"
        /  = submit_tag "Bezahlen und Registration abschließen", :class => 'btn btn-success pull-right'
        /%br/


:javascript
  function setupBT() {
    braintree.setup("#{@client_token}", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener) {
    window.addEventListener("load", setupBT, false);
  }
  else if (window.attachEvent) {
    window.attachEvent("onload", setupBT);
  }
  else {
    window.onload = setupBT;
  }


