.page-header
  %h1 
    Test
    <small>ID: #{@test_id}</small>

= render "shared/print_random_test/category_test", questions: @zahlenfolgen_questions, instructions: "(10 Fragen, 15 Minuten Zeit)", show_solution: @show_solution

.row{:"data-no-turbolink" => true}
  .col-lg-12
    %h2 Gedächtnis und Merkfähigkeit (Lernphase: 8 Minuten Zeit)
    .panel.panel-default.flat-corners
      .panel-heading
        Kontext
      .panel-body.scale-images
        =preview_html_field(@gedaechtnis_context.content)
        .spacer{:style => "margin-top: 60px;"}
    %pagebreak   
      
= render "shared/print_random_test/category_test", questions: @gedaechtnis_questions, instructions: "(Reproduktionsphase: 25 Fragen, 15 Minuten Zeit)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @figuren_questions, instructions: "(15 Fragen, 20 Minuten Zeit)", show_solution: @show_solution
  
= render "shared/print_random_test/category_test", questions: @wortfluessigkeit_questions, instructions: "(15 Fragen, 20 Minuten Zeit)", show_solution: @show_solution
  
= render "shared/print_random_test/category_test", questions: @implikationen_questions, instructions: "(10 Fragen, 10 Minuten Zeit)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @soziales_questions, instructions: "(#{@soziales_questions.count} Fragen)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @biologie_questions, instructions: "(40 Fragen)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @chemie_questions, instructions: "(24 Fragen)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @physik_questions, instructions: "(16 Fragen)", show_solution: @show_solution

= render "shared/print_random_test/category_test", questions: @mathematik_questions, instructions: "(10 Fragen)", show_solution: @show_solution

= render "shared/print_random_test/category_test_textverstaendtnis", big_context_questions: @textverstaendtnis_big_context_questions, small_context1_questions: @textverstaendtnis_small_context1_questions, small_context2_questions: @textverstaendtnis_small_context2_questions, small_context3_questions: @textverstaendtnis_small_context3_questions, small_context4_questions: @textverstaendtnis_small_context4_questions, instructions: "(10 Fragen, 30 Minuten)", show_solution: @show_solution
 
      
.row{:"data-no-turbolink" => true}
  .col-sm-12
    %h1 
      Lösungen für Test
      <small>ID: #{@test_id}</small>
    
.row{:"data-no-turbolink" => true}
  = render "shared/print_random_test/solution_of_question", questions: @zahlenfolgen_questions
  = render "shared/print_random_test/solution_of_question", questions: @gedaechtnis_questions
  = render "shared/print_random_test/solution_of_question", questions: @figuren_questions
  = render "shared/print_random_test/solution_of_question", questions: @wortfluessigkeit_questions
.row{:"data-no-turbolink" => true}
  = render "shared/print_random_test/solution_of_question", questions: @implikationen_questions
  = render "shared/print_random_test/solution_of_question", questions: @soziales_questions
  = render "shared/print_random_test/solution_of_question", questions: @biologie_questions
  = render "shared/print_random_test/solution_of_question", questions: @chemie_questions
.row{:"data-no-turbolink" => true}
  = render "shared/print_random_test/solution_of_question", questions: @physik_questions
  = render "shared/print_random_test/solution_of_question", questions: @mathematik_questions
  = render "shared/print_random_test/solution_of_question", questions: @implikationen_questions
  = render "shared/print_random_test/solution_of_textverstaendtnis", big_context_questions: @textverstaendtnis_big_context_questions, small_context1_questions: @textverstaendtnis_small_context1_questions, small_context2_questions: @textverstaendtnis_small_context2_questions, small_context3_questions: @textverstaendtnis_small_context3_questions, small_context4_questions: @textverstaendtnis_small_context4_questions

