.page-header
  %h1
    Profil
    / <small>Subtext for header</small>
    
%ul.nav.nav-tabs
  %li.active{:role => "presentation"}
    %a{:href => "#"}
      Mein Account Status
      / %i.fa.fa-exclamation-triangle{:style => "font-size: 1em"}
  %li{:role => "presentation"}
    = link_to "Meine Daten", static_pages_profile_data_path
  %li{:role => "presentation"}
    = link_to "Meine Statistik", static_pages_profile_stats_path 
    
%br/
%br/

-if current_user.role_name == 'registered'
  = render "static_pages/profile/account_status", 
    label_css_class: "label-warning", 
    img: "creditcard.png", 
    status_label: "Eingeschränkt", 
    status_msg: "Dein Account ist derzeit eingeschränkt und du hast damit nur eingeschränkten Zugriff auf unsere Lerninhalte. Aktiviere deinen Account für #{membership_price_euro} mit der Kreditkarte, dies ermöglicht dir vollen Zugriff auf unser Angebot und du kannst dich uneingeschränkt weiterbilden. Wir freuen uns, dich effizient auf deine Prüfungen vorzubereiten!", 
    button_caption: "Account für #{membership_price_euro} aktivieren",
    button_path: static_pages_payment_path
-elsif current_user.role_name == 'member'
  = render "static_pages/profile/account_status", 
    label_css_class: "label-success", 
    img: "unlocked.png", 
    status_label: "Uneingeschränkt", 
    status_msg: "Dein Account ist bis zum bis #{current_user.membership_expiration_date_formatted} uneingeschränkt aktiv, innerhalb dieses Zeitraumes kannst du auf unser gesamtes Angebot zurückgreifen und dich uneingeschränkt fortbilden."
-elsif current_user.role_name == 'banned'
  = render "static_pages/profile/account_status", 
    label_css_class: "label-danger", 
    img: "lock.png", 
    status_label: "Gesperrt", 
    status_msg: "Dein Account wurde gesperrt! Bitte wende dich an unseren Support: #{t 'medAT.email_support'}", 
    button_caption: "E-mail an das Support-Team schreiben",
    button_path: "mailto:#{t 'medAT.email_support'}"
-else
  = render "static_pages/profile/account_status", 
    label_css_class: "label-success", 
    img: "unlocked.png", 
    status_label: current_user.role_name, 
    status_msg: "Bei Fragen wende dich an das Support Team: #{t 'medAT.email_support'}", 
    button_caption: "E-mail an das Support-Team schreiben",
    button_path: "mailto:#{t 'medAT.email_support'}"

.hspacer-4x 
