.page-header
  %h1
    W채hle eine Kategorie
    %small 
      =@quiz.name 
%p
  W채hle eine Kategorie f체r die dein Test zusammengestellt werden soll. Es gibt auch eine <strong> Durchmischt </strong>
  Kategorie, w채hlst du diese, werden Fragen aus allen Kategorien zusammengemischt.
%br/

.row
  .col-sx-3
    =link_to tests_path(:nb_of_contexts => 1, :nb_of_questions => 10), :method => :post, :class => "a thumbnail category" do
      /= image_tag(category.image.thumb, alt: "Thumbnail der Kategorie #{category.name}") 
      /- if category.image.nil?
      %p.text-center Durchmischt
      /- else
      /  &nbsp;
      

- (@quiz.categories.published).each_slice(3) do |category_row|
  .row
    - category_row.each do |category|
      .col-xs-4
        - if category.question_contexts.size > 1
          /TODO outsource vars into glob file
          =link_to tests_path(:category_id => category.id, :nb_of_contexts => Settings[:test_number_contexts], :nb_of_questions => Settings[:test_number_questions]), :method => :post, :class => "a thumbnail category" do
            = image_tag(category.image.thumb, alt: "Thumbnail der Kategorie #{category.name}") 
            - if category.image.nil?
              %p.text-center=category.name
            - else
              &nbsp;
        - else
          =link_to tests_path(:category_id => category.id, :nb_of_contexts => 1, :nb_of_questions => Settings[:test_number_questions]), :method => :post, :class => "a thumbnail category" do
            = image_tag(category.image.thumb, alt: "Thumbnail der Kategorie #{category.name}") 
            - if category.image.nil?
              %p.text-center=category.name
            - else
              &nbsp;

