<%= form_for @faq, :html => { :class => "form-horizontal faq" } do |f| %>

    <% if @faq.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@faq.errors.count, "error") %> prohibited this faq from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @faq.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@faq[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'form-control', :rows => "10" %>
    </div>
    <%= error_span(@faq[:text]) %>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :priority, :class => 'form-control' %>
    </div>
    <%= error_span(@faq[:priority]) %>
  </div>
  <div class="control-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :published %>
    </div>
    <%= error_span(@faq[:published]) %>
  </div>
 
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            faqs_path, :class => 'btn btn-default' %>

<% end %>
