.page-header
  %h1
    E-mail ändern
    / <small>Subtext for header</small>
    
%br/
%br/
    
    
.row
  / .col-lg-2
  /  %a.thumbnail.category{:href => "#"}
  /    = image_tag("profile1.png", alt: "Profil Informationen icon")
  /    %p.text-center
  .col-lg-12
    = form_for @user, :url => { :action => "update_email" } do |f|
      .form-group
        = f.label :email, "Neue E-mail Adresse"
        = f.text_field :email, :class => 'form-control'
      .form-group
        = f.label :email_confirmation, "E-mail Adresse bestätigen"
        = text_field_tag :email_confirmation, nil, :class => 'form-control'
      %a.btn.btn-default.pull-right{:href => "#{static_pages_profile_data_path}", :role => "button"} Zurück
      = f.submit "Ändern", :class => 'btn btn-default'
%br/
    
