.page-header
  %h1
    Passwort ändern
    / <small>Subtext for header</small>
    
%br/
%br/
    
    
.row
  / .col-lg-2
  /  %a.thumbnail.category{:href => "#"}
  /    = image_tag("profile1.png", alt: "Profil Informationen icon")
  /    %p.text-center
  .col-lg-12
    = form_for @user, :url => { :action => "update_password" } do |f|
      .form-group
        = f.label :password, "Passwort"
        = f.password_field :password, :autocomplete => "off", :class => 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :class => 'form-control'
      .form-group
        = f.label :current_password
        %br/
        %i (Gegenwärtiges Kennwort eingeben)
        = f.password_field :current_password, :class => 'form-control'
      %a.btn.btn-default.pull-right{:href => "#{static_pages_profile_data_path}", :role => "button"} Zurück
      = f.submit "Ändern", :class => 'btn btn-default'
%br/
    
