.row
  .col-xs-2
    =image_tag blog_entry.user.avatar.try(:url), class: 'avatar-img'   
    .novelty-box.date
      %p
        %span.day
          #{blog_entry.created_at.strftime("%d")}
          %br/
        %span.month-year
          #{blog_entry.created_at.strftime("%m, %Y")}
  .col-xs-10
    %h3.novelty-title
      = link_to blog_entry.title, blog_entry_path(blog_entry)
    %p
      %span 
        Von: #{blog_entry.user.try(:firstname)}
      %span.pipe
        | 
      %span 
        #{blog_entry.created_at.strftime("%d.%m.%Y %H:%M")}
      %span.pipe
        | 
      %span 
        Kategorie: Blog Eintrag
    %p.novelty-text
      =preview_html_field_text_only(blog_entry.text, 300)
    
.row
  .col-xs-12
    %p.pull-right
      = link_to "Weiterlesen >", blog_entry_path(:id => blog_entry)
      
    .novelty-bar
    