/.news{:style => "margin-bottom: 5em;"}
/  %h3.news-headline
/    #{title}
/    %br/
/    <span class="" style="font-size: 0.6em">#{created_at.strftime("%d.%m.%Y %H:%M")}</span> 
/  %p
/    =body

.col-md-4
  .box.news
    %h4.box.news.head #{title}
    /%p.box.news.body
    .box.news.body
      /%p.text-right
      /  #{created_at.strftime("%d.%m.%Y %H:%M")}
      #{preview_html_field(body)}  
    
      %p.text-center
        #{created_at.strftime("%d.%m.%Y %H:%M")}  
    /%p.box.news.footer
    /  #{created_at.strftime("%d.%m.%Y %H:%M")}