= form_for [@quiz, @category, @question, @answer] do |f|
  - if @answer.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@answer.errors.count, "error")
          prohibited this answer from being saved:
      .panel-body
        %ul
          - @answer.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :text, :class => 'control-label'
    = f.text_area :text, :class => 'form-control', :rows => 10
    = error_span(@answer[:text])
  .checkbox
    %label
      = f.check_box :correct 
      Correct
    = error_span(@answer[:correct])
  .form-group
    = f.label :question_id, :class => 'control-label'
    = f.text_field :question_id, :class => 'form-control', :disabled => true
    = error_span(@answer[:question_id])
  .form-group
    = f.label :creator_id, :class => 'control-label'
    = f.text_field :creator_id, :class => 'form-control', :disabled => true
    = error_span(@answer[:creator_id])
  .checkbox
    %label
      = f.check_box :published 
      Published
    = error_span(@answer[:published])
  = f.submit nil, :class => 'btn btn-primary'
  / = link_to 'Back', answers_path, :class => 'btn btn-default'


