- model_class = Answer
.page-header
  %h1 Antwort
%dl.dl-horizontal
  %dt
    %strong
      Text :
  %dd= preview_html_field(@answer.text)
  %dt
    %strong
      Korrekt :
  %dd= render_boolean(@answer.correct)
  %dt
    %strong
      Frage :
  %dd= @answer.question_id
  %dt
    %strong
      Erstellt von :
  %dd= @answer.creator_id
  %dt
    %strong
      Veröffentlicht :
  %dd= render_boolean(@answer.published)
  
= link_to "Editieren", edit_answer_path(@answer), :class => 'btn btn-default'
= link_to "Neu", new_quiz_category_question_context_question_answer_path(@answer.question.question_context.category.quiz, @answer.question.question_context.category, @answer.question.question_context, @answer.question), :class => 'btn btn-success'
= link_to "Löschen", answer_path(@answer), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Bist du sicher?')) }, :class => 'btn btn-danger'                                                                                   |
= link_to 'Zurück zu den Fragen', quiz_category_question_context_questions_path(@answer.question.question_context.category.quiz, @answer.question.question_context.category, @answer.question.question_context), :class => "btn btn-primary btn-xs"
= link_to 'Neue Frage', new_quiz_category_question_context_question_path(@answer.question.question_context.category.quiz, @answer.question.question_context.category, @answer.question.question_context), :class => "btn btn-success btn-xs"


%br/
\#{link_to 'Zurück', quiz_category_question_context_question_answers_path(@answer.question.question_context.category.quiz, @answer.question.question_context.category, @answer.question.question_context, @answer.question)}

