- model_class = Answer
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:text)
      \:
  %dd= preview_html_field(@answer.text)
  %dt
    %strong
      = model_class.human_attribute_name(:correct)
      \:
  %dd= @answer.correct
  %dt
    %strong
      = model_class.human_attribute_name(:question_id)
      \:
  %dd= @answer.question_id
  %dt
    %strong
      = model_class.human_attribute_name(:creator_id)
      \:
  %dd= @answer.creator_id
  %dt
    %strong
      = model_class.human_attribute_name(:published)
      \:
  %dd= @answer.published
  
= link_to t('.back', :default => t("helpers.links.back")), quiz_category_question_answers_path(@answer.question.category.quiz, @answer.question.category, @answer.question), :class => 'btn btn-default'
-#
= link_to t('.edit', :default => t("helpers.links.edit")), edit_answer_path(@answer), :class => 'btn btn-default'
-#
= link_to t('.new', :default => t("helpers.links.new")), new_quiz_category_question_answer_path(@answer.question.category.quiz, @answer.question.category, @answer.question), :class => 'btn btn-success'
-#
= link_to t('.destroy', :default => t("helpers.links.destroy")), answer_path(@answer), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'                                                                                   |




