.page-header
  %h1
    Login
    / <small>Subtext for header</small>
.row
  .col-lg-2
    %a.thumbnail.category{:href => "#"}
      = image_tag("lock_key.png", alt: "Impressum icon")
      %p.text-center
  .col-lg-10
    .text-center
      %br/
      = link_to "Neu hier? Registriere dich!", new_registration_path(resource_name), :class => "btn btn-success", :style => "color: #fff;"
      %br/
      %br/
      %a.btn.btn-primary.btn.pull-center{:href => "#{user_omniauth_authorize_path(:facebook)}", :role => "button"} 
        %i.fa.fa-facebook &nbsp;&nbsp;&nbsp;&nbsp; Mit Facebook Anmelden/Registrieren
      %br/
      %br/
      
    %table{:width => "100%"}
      %td
        %hr/
      %td{:style => "width:1px; padding: 0 10px; white-space: nowrap;"} Oder
      %td
        %hr/
    
    
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label "E-mail", :class => 'control-label'
        = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'E-mail Adresse eingeben' 
      .form-group
        = f.label "Passwort", :class => 'control-label'
        = f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Passwort eingeben'
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me 
            Eingeloggt bleiben? 
            /Remember me?
      = f.submit "Log in", :class => 'btn btn-default'
    %br/
    = render "devise/shared/links"
    
