= form_for([@quiz, @category]) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label "Name", :class => 'control-label'
    = f.text_field :name, :class => 'form-control', :autofocus => true
  .form-group
    = f.label "Beschreibung", :class => 'control-label'
    / = f.text_area :description, :class => 'form-control', :rows => 10
    = f.cktext_area :description, :class => 'form-control', :rows => 10
  .checkbox
    %label
      = f.check_box :single_question_select 
      Nur eine Frage wählbar?    
  .checkbox
    %label
      = f.check_box :published 
      Veröffentlicht?
  .control-group
    = f.label "Bild", :class => 'control-label'
    = f.file_field :image, multiple: false, :class => 'form-control'     
    %br/
  .control-group
    %label
      Derzeitiges Bild
    = image_tag @category.image.thumb.url, :class => 'thumbnail'
  .form-group
    = f.label "Erstellt von", :class => 'control-label'
    = f.text_field :creator_id, :disabled => true, :class => 'form-control'
  .form-group
    = f.label "Quiz_id", :class => 'control-label'
    = f.text_field :quiz_id, :disabled => true, :class => 'form-control'
    
  = f.submit nil, :class => 'btn btn-primary'
