.page-header
  %h1
    Kategorie
    / <small>Subtext for header</small>

.row
  .col-lg-12

    %p
      %strong Name:
      = @category.name
    %p
      %strong Beschreibung:
      = preview_html_field(@category.description)
    %p
      %strong Erstellt von:
      = @category.creator.id
    %p
      %strong Quiz:
      = @category.quiz.id
    %p
      %strong Veröffentlicht:
      = render_boolean(@category.published)
    %p
      %strong Bild:
      = image_tag @category.image.thumb.url
      
      
/= link_to "Zurück", quiz_categories_path(@category.quiz), :class => 'btn btn-default'
= link_to "Editieren", edit_category_path(@category), :class => 'btn btn-default'
= link_to "Neu", new_quiz_category_path(@category.quiz), :class => 'btn btn-success'
= link_to "Löschen", category_path(@category), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'                                                                                   |

%br/
\#{link_to 'Zurück', quiz_categories_path(@category.quiz)}  


