.page-header
  %h1
    Category
    / <small>Subtext for header</small>

.row
  .col-lg-12

    %p
      %strong Name:
      = @category.name
    %p
      %strong Description:
      = @category.description
    %p
      %strong Creator:
      = @category.creator
    %p
      %strong Quiz:
      = @category.quiz
    %p
      %strong Published:
      = @category.published
    %p
      %strong Image:
      = image_tag @category.image.thumb.url
      
      
    = link_to 'Edit', edit_category_path(@category)
    |
    \#{link_to 'Back', quiz_categories_path(@category.quiz)}