- model_class = Novelty
.page-header
  %h1
    = @novelty.title
.row
  .col-lg-12
    = image_tag @novelty.image.novelty.url, :style => 'width: 100%'
    
    .novelty-text
      = @novelty.text.html_safe
      
    %p.novelty-footer
      %span 
        Von: Stefan 
      %span.pipe
        | 
      %span 
        #{@novelty.created_at.strftime("%d.%m.%Y %H:%M")}
      %span.pipe
        | 
      %span 
        Kategorie: News
      
    
    %a.btn.btn-default.pull-right{:href => "#{static_pages_news_path}", :role => "button"} Zurück
     
    .hspacer-4x
    .hspacer-4x