.page-header
  %h1
    =@question.question_context.category.name
    %small Test
    /%small #{@question_number+1}/#{@test.questions.count}
.row
  .col-lg-12
    .progress
      .progress-bar.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%"}
        %span.sr-only Auswertung 
          
    
.row
  .col-lg-4
  .col-lg-1
    = image_tag("result_15.png", alt: "Result icon", :style => "margin-top: 1em; height: 6em;")
  .col-lg-3
    %h1
      Ergebnis:
      %small.quiz-result-positiv #{@test.result_in_percent} %
    %p{:style => "font-size: 0.9em"} Du hast #{@test.passed_assignations} von #{@test.assignations.count} Fragen richtig beantwortet
    %p{:style => "font-size: 0.9em"} Zeit: #{time_ago_in_words @test.duration_in_sec.seconds.from_now}
    %br/
  .col-lg-4
%br/
%br/
.row 
  .col-lg12
    %h3 Kontrolle
    #accordion.panel-group
      - @test.assignations.each_with_index do |assignation, index|
        .panel.panel-default
          .panel-heading{:class => "#{assignation.passed? ? '' : 'wrong-answer'}"}
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-question-#{index}"} Frage #{index+1}
          %div.panel-collapse.collapse{:id => "collapse-question-#{index}"}
            .panel-body.scale-images 
              
              .panel.panel-primary
                .panel-heading
                  %h3.panel-title
                    Frage
                  / Frage #{index+1}/#{@test.questions.count}
                .panel-body.scale-images 
                  =preview_html_field(assignation.question.text)
              %br/
              - assignation.question.answers.each_with_index do |answer, index_2|
                %ul.list-group
                  %a.list-group-item.no-boarder{:href => "#", :class => "#{assignation.answer_passed?(answer) ? 'correct-answer' : 'wrong-answer' }"}
                    .answer
                      - if assignation.answer_checked?(answer) 
                        / answer.correct?
                        .answer-badge-q3.selected
                          %i.fa.fa-check-square-o
                          / %span.glyphicon.glyphicon-check{"aria-hidden" => "true"}
                          =answer_char(index_2)
                          / =index_2
                      - else
                        .answer-badge-q3
                          %i.fa.fa-square-o
                          / %span.glyphicon.glyphicon-unchecked{"aria-hidden" => "true"}
                          =answer_char(index_2)
                          / =index_2
                      .answer-text=preview_html_field(answer.text)
              
              - if assignation.question.try(:solution) && !assignation.question.solution.blank?
                .panel.panel-success
                  .panel-heading
                    %h3.panel-title
                      Lösung
                  .panel-body.scale-images 
                    = assignation.question.solution

.row 
  .col-lg-12
    %a.btn.btn-default.pull-right{:href => "#{static_pages_quiz_path}"} Andere Kategorie
    =link_to 'Nochmal', tests_path(:category_id => @question.question_context.category.id, :nb_of_contexts => 3, :nb_of_questions => 3), :method => :post, :class => "btn btn-default pull-right space-right" 
