/ Static navbar
%nav.navbar.navbar-default.navbar-fixed-top.container{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => "#{static_pages_home_path}"}
        =image_tag "navbar/logo_medat.png", :class => "navbar-brand navbar-brand-medAT"
        /, :style => "min-height: 6em"
    #navbar.navbar-collapse.collapse
      /%i.fa.fa-thumbs-o-up.navbar-thumb 
      
      /=image_tag "navbar/siegel.png", :id => "quality-seal"
      
      /#jm-search-social.clearfix
      /  #jm-social
      /    .custom
      /      .fb-like.fb_iframe_widget{"data-action" => "recommend", "data-href" => "https://www.facebook.com/cleverlearning", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true", "fb-iframe-plugin-query" => "action=recommend&app_id=&container_width=108&href=https%3A%2F%2Fwww.facebook.com%2Fcleverlearning&layout=button_count&locale=de_DE&sdk=joey&share=true&show_faces=true", "fb-xfbml-state" => "rendered"}
      /        %span{:style => "vertical-align: bottom; width: 160px; height: 20px;"}
      /          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "ff0cf456c3721e", :scrolling => "no", :src => "http://www.facebook.com/v2.0/plugins/like.php?action=recommend&app_id=&channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FrFG58m7xAig.js%3Fversion%3D41%23cb%3Dfc8918349fa8e4%26domain%3Dwww.clever-learning.at%26origin%3Dhttp%253A%252F%252Fwww.clever-learning.at%252Ff33473fdb0b9408%26relation%3Dparent.parent&container_width=108&href=https%3A%2F%2Fwww.facebook.com%2Fcleverlearning&layout=button_count&locale=de_DE&sdk=joey&share=true&show_faces=true", :style => "border: medium none; visibility: visible; width: 160px; height: 20px;", :title => "fb:like Facebook Social Plugin", :width => "1000px"}
      /    .custom
      /      %p.jm-icons
      /        %a{:href => "https://www.facebook.com/cleverlearning", :style => "display: inline-block;", :target => "_blank"}
      /          =image_tag "navbar/facebook_small.png", :class => "rotate"
                
      
      
      %ul.nav.navbar-nav
        /- if current_page?(url_for(:controller => 'static_pages', :action => 'home')) 
        /  %li{:class => "active"}
        /    =link_to "Home", static_pages_home_path
        /- else
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Info
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li 
              =link_to "Allgemeines zu MedAT-H/Z", static_pages_info_general_path
            %li
              =link_to "Testaufbau", static_pages_info_test_path
              
            %li{:role => "separator", :class => "divider"}
              
            %li{:style => "color: #aaa; margin-left: 20px"}
              Untertests
              /=link_to "Untertests", static_pages_home_path  
                          
            /%li{:role => "separator", :class => "divider"}
              
            %li.indent-left
              =link_to "Basiskenntnistest - BMS", static_pages_info_sub_basic_path
            %li.indent-left
              =link_to "Textverständtnis", static_pages_info_sub_text_path
            %li.indent-left
              =link_to "Figuren zusammensetzen", static_pages_info_sub_figures_path
            %li.indent-left
              =link_to "Gedächtnis & Merkfähigkeit", static_pages_info_sub_memory_path
            %li.indent-left
              =link_to "Zahlenfolgen", static_pages_info_sub_numbers_path
            %li.indent-left
              =link_to "Implikationen erkennen", static_pages_info_sub_implications_path
            %li.indent-left
              =link_to "Wortflüssigkeit", static_pages_info_sub_words_path
            %li.indent-left
              =link_to "Soziales Entscheiden", static_pages_info_sub_social_path
            %li.indent-left
              =link_to "Zahnmedizin: Drähte biegen", static_pages_info_sub_dent1_path
            %li.indent-left
              =link_to "Zahnmedizin: Formen spiegeln", static_pages_info_sub_dent2_path
            %li{:role => "separator", :class => "divider"}
            %li
              =link_to "Tipps zum Test", static_pages_info_tips_path
            %li 
              =link_to "Studienpläne", static_pages_info_curriculum_path
          - if user_signed_in? && (current_user.try(:member?) || current_user.try(:can_manage?))
            %li 
              =link_to "Skripten", static_pages_info_scripts_path
            %li{:role => "separator", :class => "divider"}
            /%li
            /  =link_to "AGB und Rücktrittsrecht", static_pages_terms_path
              
            /
            /  =link_to "Testablauf", static_pages_zahnmedizin_path
            /%li
            /  =link_to "MedAT-Humanmedizin", static_pages_humanmedizin_path
            /%li
            /  =link_to "MedAT-Zahnmedizin", static_pages_zahnmedizin_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Unser Angebot
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              =link_to "Online-Lernportal", static_pages_online_lernportal_path
            %li
              =link_to "Vorbereitungskurse", static_pages_vorbereitungskurse_path
        
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            -if user_signed_in?
              Test starten
            -else
              Kostenlos testen
              %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              =link_to "Gesamttest", tests_path(:total_test => true), :method => :post
            %li
              =link_to "Untertest", static_pages_quiz_path
            
        %li
          -if user_signed_in? && !current_user.try(:can_manage?)
            =link_to "Meine Daten", static_pages_profile_status_path
          - if user_signed_in? && current_user.try(:can_manage?)
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Verwaltung 
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  =link_to "CMS Verwalten", static_pages_admin_path
                %li
                  =link_to "Meine Daten", static_pages_profile_status_path

        %li
          =link_to "FAQ", static_pages_faq_path
                  
        %li
          =link_to "Newsblog", static_pages_news_path
            
      %ul.nav.navbar-nav.navbar-right
        %li
          -if user_signed_in?
            = link_to "(#{current_user.firstname}) Abmelden", destroy_user_session_path, :method => :delete
          -else
            = link_to "Anmelden", new_user_session_path
  
      /%ul.nav.navbar-nav.navbar-right
      /  -if user_signed_in?
      /    %li
      /      = link_to "(#{current_user.firstname}) Abmelden", destroy_user_session_path, :method => :delete
      /  -else
      /    %li.dropdown
      /      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      /        Login 
      /        %span.caret
      /      .dropdown-menu{:style => "padding:17px;"}
      /        %form
      /          .form-group
      /            %label.control-label{:style => "font-size: 13px;"} E-Mail
      /            %input#inputEmail3.form-control{:placeholder => "E-Mail", :type => "email"}/
      /          .form-group
      /            %label.control-label{:style => "font-size: 13px;"} Passwort
      /            %input#inputPassword3.form-control{:placeholder => "Passwort", :type => "password"}/
      /          .form-group
      /            %button.btn.btn-block.btn-success{:type => "submit"} Anmelden
      /            = link_to "Registrieren", new_user_session_path
      /            /%button.btn.btn-block.btn-success{:type => "submit"} Registrieren


/        %li 
/          =link_to "Home", static_pages_home_path
/        - if current_user.try(:can_manage?)
/          %li
/            =link_to "Verwaltung", static_pages_admin_path
/        %li
/          =link_to "Quiz", static_pages_quiz_path
/        %li
/          =link_to "Profil", static_pages_profile_status_path
/        %li{"data-no-turbolink" => ""}
/          =link_to "Kontakt", static_pages_contact_path
/        %li
/          =link_to "About", static_pages_about_path
/      %ul.nav.navbar-nav.navbar-right
/        %li
/          -if user_signed_in?
/            = link_to "Abmelden", destroy_user_session_path, :method => :delete
/          -else
/            = link_to "Anmelden", new_user_session_path
/    / /.nav-collapse
/  / /.container-fluid
/  /= image_tag("logo.png", alt: "Logo")
