!!!
%html
  %head
    %title Clever
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = mathjax_tag
    
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    
    %link{:href => "http://fonts.googleapis.com/css?family=Francois+One", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Asap:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,900", :rel => "stylesheet", :type => "text/css"}
  %body{:style => "padding-top: 0px;"}
    :javascript
      MathJax.Hub.Typeset();
      
    .container
      = render "layouts/flash_notice"
      = yield
      = render "layouts/footer"