!!!
%html
  %head
    %title Clever
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = mathjax_tag
  %body
    :javascript
      MathJax.Hub.Typeset();
      
    .container
      = render "layouts/navbar"
      = render "layouts/flash_notice"
      = yield
      = render "layouts/footer"